.nav-label {
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}
#sidebar ul li a, #sidebar ul li a:hover {
    text-decoration: none;
}
#sidebar ul li a i {
    font-weight: 500;
    font-size: 1.1em;
    color: white;
}
#sidebar ul .active a span, #sidebar ul .active a i {
    color: #e6282f ;
}
