.nav-label {
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}
#sidebar ul li a, #sidebar ul li a:hover {
    text-decoration: none;
}
#sidebar ul li a i {
    font-weight: 500;
    font-size: 1.1em;
    color: white;
}
#sidebar ul .active a span, #sidebar ul .active a i {
    color: #e6282f ;
}

/** tooglebutton **/
.button-special {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 12%;
    font-size: 20px;
    position: fixed;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
}


#togglebutton {
    width: 30px;
    height: 50px;
    top: 70px;
    left: 235px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

/** SIDEBAR **/

#sidebar {
    background: #000000;
    height:100vh;
    width:240px;
    position:fixed;
    top:0;
    left:0;
    z-index:5;
    outline:none;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar .avatar {
    background:rgba(0,0,0,0.1);
    padding:2em 0.5em;
    text-align:center;
}
#sidebar .avatar img {
    width: 170px;
    height:170px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

#sidebar h3 {
    color: white !important;
    background: black;
    font-weight:normal;
    margin-bottom:0;
}

#sidebar ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}

#sidebar ul li {
    padding: 0.5em 1em 0.5em 3em;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}

#sidebar ul li:hover {
    background-color: rgba(255, 253, 253, 0.3);
}
#sidebar ul li:focus {
    outline: none;
}

/**Accion de ocultar**/
 #sidebar.toggled {
    margin-left: 0;
}
#sidebar.toggled #togglebutton {
    margin-left: -240px;
}
@media (min-width: 768px) {
    #sidebar.toggled #sidebar {
        margin-left: -15rem;
    }
}

@media (max-width: 768px) {
    #sidebar.toggled #sidebar {
        margin-left: -15rem;
    }
}