html,
body {
    height: 100%;
}

.navbar {
    background: #1E202F !important;
}
.navbar-brand img {
    transition: all 3s;
    padding-left: 12px;
}
.navbar-white {
    background: white !important;
    height: 52px !important;
}
.navbar-brand{
    padding-right: 3rem !important;
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

.footer {
    height: 60px;
    background-color: #1E202F;
    border-top: 1px solid #1E202F;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.training-session-heading{
    background: #212529;
    color: #fff;
}
#btn-change-date{
    background:#212529;;
    color: #fff;
}
#btn-change-date:hover{
    border: none;
}
.btn-prev-date{
    border: none;
    font-weight: 600;
    background: #212529;;
    color: #fff;
    padding: 7px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.date-picker-container{
    background: #ddddddbf;
}
.btn-next-date{
    border: none;
    font-weight: 600;
    background: #212529;;
    color: #fff;
    padding: 7px 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-day-change:focus{
    outline: none;
}
.session-user{
    float: left;
    height: 70px;
    background: #17a2b8;;
    width: 70px;
    margin: 5px;
}
.session-user:nth-child(16n+1) {
    clear: left;
}
.btn-join-session{
    background: #17a2b8;;
}
.btn-join-session:hover{
    outline: none;
    background: #17a2b8; !important;
    border:none;
}
.btn-actions{
    color: #fff;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.btn-notity-session, .btn-notity-session:hover, .btn-edit-session, .btn-edit-session:hover{
    background: #24a3e6 !important;
    color: #fff !important;
    border:none;
}
.session-user-box img{
    background: #fff;
}
@media only screen and (max-width: 769px) {
    .session-user:nth-child(4n+1) {
        clear: left;
    }
    .session-user{
        height: 60px !important;
        width: 60px !important;
    }
    /*.session-user:nth-child(16n+1) {
        clear: inherit;
    }*/
}

/*------------------------------------
- COLOR pink
------------------------------------*/
.alert-pink {
    color: #43104b;
    background-color: #e6b4ee;
    border-color: #e0a3ea;
}

.alert-pink hr {
    border-top-color: #d98ee6;
}

.alert-pink .alert-link {
    color: #1e0722;
}

.badge-pink {
    color: #fff;
    background-color: #9c27b0;
}

.badge-pink[href]:hover, .badge-pink[href]:focus {
    color: #fff;
    background-color: #761d86;
}

.bg-pink {
    background-color: #9c27b0 !important;
}

a.bg-pink:hover, a.bg-pink:focus,
button.bg-pink:hover,
button.bg-pink:focus {
    background-color: #761d86 !important;
}

.border-pink {
    border-color: #9c27b0 !important;
}

.btn-pink {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.btn-pink:hover {
    color: #fff;
    background-color: #822092;
    border-color: #761d86;
}

.btn-pink:focus, .btn-pink.focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.btn-pink.disabled, .btn-pink:disabled {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active, .show > .btn-pink.dropdown-toggle {
    color: #fff;
    background-color: #761d86;
    border-color: #6b1a79;
}

.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus, .show > .btn-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.btn-outline-pink {
    color: #9c27b0;
    background-color: transparent;
    border-color: #9c27b0;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.btn-outline-pink:focus, .btn-outline-pink.focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.btn-outline-pink.disabled, .btn-outline-pink:disabled {
    color: #9c27b0;
    background-color: transparent;
}

.btn-outline-pink:not(:disabled):not(.disabled):active, .btn-outline-pink:not(:disabled):not(.disabled).active, .show > .btn-outline-pink.dropdown-toggle {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.btn-outline-pink:not(:disabled):not(.disabled):active:focus, .btn-outline-pink:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.list-group-item-pink {
    color: #43104b;
    background-color: #e0a3ea;
}

.list-group-item-pink.list-group-item-action:hover, .list-group-item-pink.list-group-item-action:focus {
    color: #43104b;
    background-color: #d98ee6;
}

.list-group-item-pink.list-group-item-action.active {
    color: #fff;
    background-color: #43104b;
    border-color: #43104b;
}

.table-pink,
.table-pink > th,
.table-pink > td {
    background-color: #e0a3ea;
}

.table-hover .table-pink:hover {
    background-color: #d98ee6;
}

.table-hover .table-pink:hover > td,
.table-hover .table-pink:hover > th {
    background-color: #d98ee6;
}

.text-pink {
    color: #9c27b0 !important;
}

a.text-pink:hover, a.text-pink:focus {
    color: #761d86 !important;
}


/*------------------------------------
- COLOR dark-blue
------------------------------------*/
.alert-dark-blue {
    color: #000000;
    background-color: #1a88d6;
    border-color: #177dc4;
}

.alert-dark-blue hr {
    border-top-color: #156eae;
}

.alert-dark-blue .alert-link {
    color: #000000;
}

.badge-dark-blue {
    color: #fff;
    background-color: #041521;
}

.badge-dark-blue[href]:hover, .badge-dark-blue[href]:focus {
    color: #fff;
    background-color: #000000;
}

.bg-dark-blue {
    background-color: #041521 !important;
}

a.bg-dark-blue:hover, a.bg-dark-blue:focus,
button.bg-dark-blue:hover,
button.bg-dark-blue:focus {
    background-color: #000000 !important;
}

.border-dark-blue {
    border-color: #041521 !important;
}

.btn-dark-blue {
    color: #fff;
    background-color: #041521;
    border-color: #041521;
}

.btn-dark-blue:hover {
    color: #fff;
    background-color: #000001;
    border-color: #000000;
}

.btn-dark-blue:focus, .btn-dark-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(4, 21, 33, 0.5);
}

.btn-dark-blue.disabled, .btn-dark-blue:disabled {
    color: #fff;
    background-color: #041521;
    border-color: #041521;
}

.btn-dark-blue:not(:disabled):not(.disabled):active, .btn-dark-blue:not(:disabled):not(.disabled).active, .show > .btn-dark-blue.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-dark-blue:not(:disabled):not(.disabled):active:focus, .btn-dark-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-dark-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(4, 21, 33, 0.5);
}

.btn-outline-dark-blue {
    color: #041521;
    background-color: transparent;
    border-color: #041521;
}

.btn-outline-dark-blue:hover {
    color: #fff;
    background-color: #041521;
    border-color: #041521;
}

.btn-outline-dark-blue:focus, .btn-outline-dark-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(4, 21, 33, 0.5);
}

.btn-outline-dark-blue.disabled, .btn-outline-dark-blue:disabled {
    color: #041521;
    background-color: transparent;
}

.btn-outline-dark-blue:not(:disabled):not(.disabled):active, .btn-outline-dark-blue:not(:disabled):not(.disabled).active, .show > .btn-outline-dark-blue.dropdown-toggle {
    color: #fff;
    background-color: #041521;
    border-color: #041521;
}

.btn-outline-dark-blue:not(:disabled):not(.disabled):active:focus, .btn-outline-dark-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(4, 21, 33, 0.5);
}

.list-group-item-dark-blue {
    color: #000000;
    background-color: #177dc4;
}

.list-group-item-dark-blue.list-group-item-action:hover, .list-group-item-dark-blue.list-group-item-action:focus {
    color: #000000;
    background-color: #156eae;
}

.list-group-item-dark-blue.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-dark-blue,
.table-dark-blue > th,
.table-dark-blue > td {
    background-color: #177dc4;
}

.table-hover .table-dark-blue:hover {
    background-color: #156eae;
}

.table-hover .table-dark-blue:hover > td,
.table-hover .table-dark-blue:hover > th {
    background-color: #156eae;
}

.text-dark-blue {
    color: #041521 !important;
}

a.text-dark-blue:hover, a.text-dark-blue:focus {
    color: #000000 !important;
}
