html, body {height: 100%;}

/** Nav Bar **/
.navbar {
    background: #000 !important;
}
.navbar-brand img {
    transition: all 3s;
    padding-left: 12px;
}
.navbar-white {
    background: white !important;
    height: 52px !important;
}
.navbar-brand{
    padding-right: 3rem !important;
}

.links-color{
    color: #fff !important;
    font-size: x-large !important;
    font-weight: bold !important;
    display:block;
    padding: .9375rem !important;
    line-height: 20px;
    text-transform: uppercase;
}
.links-color:hover{
    transition: all 0.3s ease-in-out;
    color: #e6282f !important;
    font-size: x-large !important;
    font-weight: bold !important;
}
.links-color :last-of-type{
    margin-right: 3rem !important;
}

.links-color-button{
    color: #fff !important;
    font-size: x-large !important;
    font-weight: bold !important;
    display:block;
    padding: .9375rem !important;
    line-height: 20px;
    text-transform: uppercase;
}
.links-color-button:hover{
    transition: all 0.3s ease-in-out;
    color: #ffffff !important;
    background-color: #d22222 !important;
    font-size: x-large !important;
    font-weight: bold !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: -60px -15px 0 -15px;
    padding: 0;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #000000 !important;
    border-top: 1px solid #000000 !important;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.custom-table table{ text-align: center;}
.custom-table table thead {
    background: #373739 !important;
    color: white !important;
}



/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.special-border {
    border: 1px solid #ccc;
    background-color: #fafafa;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.training-session-heading{
    background: #24A3E6;
}
#btn-change-date{
    background: #24a3e6;
    color: #fff;
        border: 0;
    padding: 7px 13px;
}
#btn-change-date:hover{
    border: none;
}
.btn-prev-date{
    border: none;
    font-weight: 600;
    background: #24a3e6;
    color: #fff;
    padding: 7px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.date-picker-container{
    background: #ddddddbf;
}
.btn-next-date{
    border: none;
    font-weight: 600;
    background: #24a3e6;
    color: #fff;
    padding: 7px 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-day-change:focus{
    outline: none;
}
.session-user{
    float: left;
    height: 70px;
    background: #CCDB38;
    width: 70px;
    margin: 5px;
}
.session-user:nth-child(10n+1) {
    clear: left;
}
.btn-join-session{
    background: #ccdb38;
}
.btn-join-session:hover{
    outline: none;
    background: #ccdb38 !important;
    border:none;
}
.btn-actions{
    color: #fff;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.btn-notity-session, .btn-notity-session:hover, .btn-edit-session, .btn-edit-session:hover{
    background: #24a3e6 !important;
    color: #fff !important;
    border:none;
}
.session-user-img{
    float: left;
    height: 70px !important;
    width: 70px !important;
    margin: 0px !important;
    background: #fff;
}
@media only screen and (max-width: 769px) {
  .session-user:nth-child(4n+1) {
        clear: left;
    }
    .session-user{
        height: 65px !important;
        width: 65px !important;
    }
    .session-user:nth-child(10n+1) {
        clear: inherit;
    }
}
